div.hide
{
    opacity: 0;
    display: none;
}

div.show
{
    opacity: 1;
    display: block;
}

p.pHome
{
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #CC0033;
    font-weight: bold;
    text-align: center;
}

div.partial
{
    opacity: 0.3;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #CC0033;
}

div.full
{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #CC0033;
}

div.hidden
{
    opacity: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #CC0033;
    height: 70px;
    display: block;
}

p.hidden
{
    visibility: hidden;
    display: none;
}

p.show
{
    visibility: visible;
    display: block;
}

label
{
    width: 200px;
}

table
{
    background-color: white;
}

.myButton
{
    background-color: #515151;
    color: #CC0033;
    border: solid 1px #515151;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    position: relative;
    width: 100%;
}

.homeButton
{
    background-color: #515151;
    color: #CC0033;
    border: solid 1px #515151;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    position: relative;
    width: 100%;
}

.resetButton
{
    background-color: #515151;
    color: #CC0033;
    border: solid 1px #515151;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    position: relative;
    width: 100%;
}


label
{
    background-color: #2d2d2d;
    color: #EBB52D;
}

#lnHeader
{
    background-color: #c8c8c8;
}

body
{
    background-color: #F0F0F0;
    width: 822px;
    text-align: center;
    margin: 10% auto;
}

td, div
{
    text-align: center;
}

label
{
    text-align: left;
}

.calendar1
{
    background-color: white;
    border: 2px hidden black;
}

.headingTag
{
    font: bold 16px arial;
    margin-bottom: 40px;
    color: #CC0033;
    font-style: italic;
    vertical-align: 75%;
}

.userNameTag
{
    font: bold 12px arial;
    margin-bottom: 40px;
    color: #CC0033;
    font-style: italic;
    vertical-align: 120%;
}

#divProgress
{
    display: block;
    height: 5px;
    background-color: #efefef;
    border-radius: 2px;
}

a, u
{
    text-decoration: none;
}

div.disableControls
{
    opacity: 0.5;
    position: relative;
    display: block;
    pointer-events: none;
}

    div.disableControls.dateHidden
    {
        position: relative;
        display: none;
    }

.myLabel
{
    color: #CC0033;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.divLoadingShow
{
    visibility: visible;
    display: block;
    position: relative;
    text-align: center;
    opacity: 1;
}

.divLoadingHidden
{
    visibility: hidden;
    display: none;
}

#lblUpdate
{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.historyLabels
{
    margin-top: 8%;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #CC0033;
    text-align: right;
}

.resultButtonsHide
{
    color: #CC0033;
    width: 50%;
    text-align: center;
    opacity:0;
}

.resultButtonsShow
{
    color: #CC0033;
    width: 50%;
    text-align: center;
    opacity:1;
}
.datatablesInited
{
}
.disableCalendar
{
    opacity: 0.5;
    position: relative;
    display: block;
    pointer-events: none;
}
.enableCalendar
{
    opacity: 1;
    position: relative;
    display: block;
    pointer-events: all;
}
.modelClass:focus
{
    border-width:10px;
    border-color:gold;
}

