<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
        <authentication mode="Windows" />
    <customErrors mode="Off"></customErrors>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="DQConnectionString" connectionString="Persist Security Info=False;           &#xD;&#xA;         Data Source=ALAWQPNC004;Initial Catalog=DQ;Integrated Security=SSPI;           &#xD;&#xA;         Connection Timeout=0"

                               providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="ScoringForm.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
  
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="ScoringApp1.Service1AspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="ScoringApp1.Service1">
                <endpoint address="" behaviorConfiguration="ScoringApp1.Service1AspNetAjaxBehavior"
                    binding="webHttpBinding" contract="ScoringApp1.Service1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>