label
{
    width: 200px;
}

table
{
    background-color: white;
}

.myButton
{
    background-color: #515151;
    color: #CC0033;
    border: solid 1px #515151;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    position: relative;
    width: 100%;
}

label
{
    background-color: #2d2d2d;
    color: #EBB52D;
}

#lnHeader
{
    background-color: #c8c8c8;
}

body
{
    background-color: #F0F0F0;
    width: 822px;
    text-align: center;
    margin: 10% auto;
}

td, div
{
    text-align: center;
}

label
{
    text-align: left;
}

.calendar1
{
    background-color: white;
    border: 2px hidden black;
}

.headingTag
{
    font: bold 16px arial;
    margin-bottom: 40px;
    color: #CC0033;
    font-style: italic;
    vertical-align: 75%;
}

#divProgress
{
    display: block;
    height: 5px;
    background-color: #efefef;
    border-radius: 2px;
}

a, u
{
    text-decoration: none;
}

div.disableControls
{
    opacity: 0.5;
    position: relative;
    display: block;
    pointer-events: none;
}

    div.disableControls.dateHidden
    {
        position: relative;
        display: none;
    }

.myLabel
{
    color: #CC0033;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#divLoading
{
    position: absolute;
    top: 25%;
    left: 48%;
    opacity:1;
}

#lblUpdate
{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
/*html
{
    background: url(../img/comparisionChart.jpg) no-repeat bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-gradient: linear, left top, right bottom, from(rgba(50,50,50,0.8)),to(rgba(80,80,80,0.2)), color-stop(.5,#333333);
}*/
